{%extends 'admin_base.html'%}
{% load static %}

{%block main%}
<script type="text/javascript">
    function checkpass()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
        {
        alert('New Password and Confirm Password field does not match');
        document.changepassword.confirmpassword.focus();
        return false;
        }
        return true;
    }
</script>

<div class="card shadow m-2">
    <div class="card body">
        <h5 class="p-2 text-danger" style="border-bottom:2px solid orange">Change Password</h5>


<div class="container-fluid">
    <form method="POST" name="Changepassword" onsubmit="return checkpassword();">
    {%csrf_token%}
        <div class="form-row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" name="currentpassword" class="form-control" placeholder="Enter current password" >

                </div>

            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" name="newpassword" class="form-control" placeholder="Enter New password" >

                </div>

            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm New password" >

                </div>

            </div>
        </div>
        <input type="submit" value="submit" class="m-2 px-3 btn btn-primary">

    </form>

</div>
</div> 
</div>
{% if error == "no" %}
<script>
    alert('Password updated successfully');
    window.location=('{% url 'logout' %}');
</script>
{%endif%}
{% if error == "yes" %}
<script>
    alert('something went wrong try again');
</script>
{%endif%}
{% if error == "not" %}
<script>
    alert('your current password is wrong');
</script>
{%endif%}


{%endblock%}