{% extends 'admin_base.html' %}

{% block main %}

<div class="card shadow m-2">
    <div class="card body">
        <h5 class="p-2 text-danger" style="border-bottom:2px solid orange">Edit Service Detail</h5>


<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
    {%csrf_token%}
        <div class="form-row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Games Title</label>
                    <input type="text" name="servicetitle" class="form-control" placeholder="Service Title"  value="{{game.title}}">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="description" class="form-control" placeholder="Description" > {{game.description}}</textarea>

                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Type</label>
                    <select name="game_type" class="form-control">
                        <option value="ftp" {% if game.game_type == 'ftp' %}selected{% endif %}>Free to Play Games</option>
                        <option value="br" {% if game.game_type == 'br' %}selected{% endif %}>Battle Royale Games</option>
                        <option value="fps" {% if game.game_type == 'fps' %}selected{% endif %}>FPS Games</option>
                        <option value="rpg" {% if game.game_type == 'rpg' %}selected{% endif %}>RPG Games</option>
                        <option value="sim" {% if game.game_type == 'sim' %}selected{% endif %}>Simulation Games</option>
                        <option value="other" {% if game.game_type == 'other' %}selected{% endif %}>Other</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Image</label>

                    <input type="file" name="image" class="form-control"  >

                    <div class="col-sm-6">
                <div class="form-group">

                    <img src="{{game.image.url}}" width="100" height="100">

                </div>

            </div>

        </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Logo</label>

                    <input type="file" name="logo" class="form-control"  >

                    {% if game.logo %}
                    <div class="col-sm-6">
                        <div class="form-group">
                            <img src="{{game.logo.url}}" width="100" height="100">
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>


        <input type="submit" value="submit" class="m-2 px-3 btn btn-primary">

    </form>

</div>
</div>
</div>

{% if error == "no" %}
<script>
    alert('Game  detail has been updated');
    window.location = '{% url "edit_games" service.id %}';
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong ,Please try Again');
</script>
{% endif %}


{% endblock %}

